<footer class="footer">
  <div class="footer-logos">
    <div class="footer-logo">
      <a href="https://www.instagram.com/hellsgategymofficial" target="_blank">
      <img src="/videos/Insta.png" alt="Instagram Logo">
    <p>Instagram</p>   
</a>
    </div>
    <div class="footer-logo">
      <a href="mailto:jimr@hellsgategym.com">
      <img src="/videos/Phone.jpeg" alt="Phone Logo">
   <p>Contact Us</p>
</a>
    </div>
    <div class="footer-logo">
      <a href="https://www.facebook.com/profile.php?id=61551226014182" target="_blank">
      <img src="/videos/Facebook.png" alt="Facebook Logo">
    <p>Facebook</p>
</a>
    </div>
  </div>
</footer>