<header>
    <div class="logo-container">
        <a href="/">
            <img src="/videos/Hells-Gate-Logo-Photoroom (1).png" alt="Website Logo">
            </a>
            <div class="site-name">Hells Gate PR Tracker </div>
    </div>
    <nav>
        <ul id="nav-bar">
            <li><a href="/views/home.handlebars">Home</a></li>
            <li><a href="/views/dashboard.handlebars">Dashboard</a></li>
            <li><a href="/views/login.handlebars">Login</a></li>
            <li><a href="*Put module to logout here*">Logout</a></li>
        </ul>
    </nav>
</header>
