<header>
    <nav>
        <ul id="nav-bar">
            <li><a href="/home">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>

    <h1>Hells-Gate PR</h1>
</header>

<!-- Content unique to the home page goes here -->

<footer>
    <!-- Page footer -->
</footer>


