<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    {{{body}}}
    {{!-- <header>
        <nav>
            <ul id="nav-bar">
                <li><a href="/home">Home</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>

        <h1>Hells-Gate PR</h1>
    </header>

    <footer>
    </footer> --}}

    <script src="/public/js/main.js"></script>

</body>
</html>