<div class="three-boxes-container">
  <div class="box">
    <img class="box-image-1" src="/videos/Bench-Photoroom.png" alt="Bench Press">
    <h3 class="box-title">BENCH</h3>
    <div class="box-content">
      <div class="inner-box">
        {{#each lifts as |lift|}}
        <div class="single-squat-container">
          <div>
            {{format_date lift.createdAt}}
          </div>
          <div>
            {{lift.title}}
          </div>
          <div>
            {{lift.description.weight}} {{lift.description.unit}}
          </div>
        </div>
        {{/each}}
      </div>

    </div>
  </div>
  <div class="box">
    <img class="box-image-2" src="/videos/squat.jpeg" alt="Squat">
    <h3 class="box-title">SQUAT</h3>
    <div class="box-content">
      <div class="inner-box">

      </div>

    </div>
  </div>
  <div class="box">
    <img class="box-image-3" src="/videos/Deadlift-Photoroom.png" alt="Deadlift">
    <h3 class="box-title">DEADLIFT</h3>
    <div class="box-content">
      <div class="inner-box">

      </div>

    </div>
  </div>
</div>
<div class="promo-box">
    <a href="/newpost" class="btn">New Post +</a>
</div>
