<main>
    <div>
      <form class="form login-form">
        <label for= "email">Email:</label>
        <input type ="text" name="email" id="email-login">
        <label for= "password">Password:</label>
        <input type="password" name="password" id="password-login">
        <button type="submit">Login</button>
        {{!-- <input type="checkbox" checked="checked" name="remember"> Remember me --}}
      </form>  
    </div>
    <div>
      <form class="form signup-form">
        <label for="username">Username:</label>
        <input type ="text" name="username" id="username-signup">
        <label for= "email">Email:</label>
        <input type="text" name="email" id="email-signup">
        <label for= "password">Password:</label>
        <input type="password" name="password" id="password-signup">
        <button type="submit">Sign up</button>
      </form>
    </div>
</main>

<script src="/js/login.js"></script>
<script src="/js/signup.js"></script>