<div class="form-container">
    <form class="form new-lift-form">
        <label for="lift-title">Choose a lift:</label>
        <select name="lift-title" id="lift-title">
            <option value="Squat">Squat</option>
            <option value="Bench">Bench</option>
            <option value="Deadlift">Deadlift</option>
        </select>

    <div class="form-field">
        <label for="description">Weight:</label>
        <input type="number" name="description" id="lift-weight">
        <select name="unit" id="unit">
            <option value="lbs">lbs</option>
            <option value="kg">kg</option>
        </select>
    </div>
        <button type="submit">Post</button>
    </form>
</div>
<script src="/js/add-lift.js"></script>