<main>
  <Section class="container forms">
    <div class="form content">
       <form class="signup-form">
       <h6>Sign up</h6>
          <div class="field input-field">
             <input type="name" placeholder="Name" class="input" id="username-signup">
          </div>
          <div class="field input-field">
             <input type="email" placeholder="Email" class="input" id="email-signup">
          </div>
           <div class="field input-field">
             <input type="password" placeholder="Password" class="password" id="password-signup">
          </div>
           <div class="field button-field">
             <button type="submit">Sign up</button>
          </div>
       </form>
    </div>
  </Section>
</main>


<script src="/js/signup.js"></script>
