#background-video {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    object-fit: cover; 
    z-index: -1; 
}

.overlay-content {
    position: relative; 
    z-index: 2; 
    color: white; 
    text-align: center; 
    padding-top: 5vh; 
}

body, html {
    margin: 0;
    padding: 0; 
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100vh; 
  }

.content {
    flex: 1;
    position: relative; 
    min-height: 0; 
    padding-bottom: 60px; 
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    color: white; 
    background-color: black;
}

.header-content {
    padding: 0;
    margin: 0;
}

.logo-container a {
    display: inline-block; 
    padding: 0; 
    margin: 0; 
}

.logo-container {
    display: flex;
    align-items: center; 
    justify-content: start; 
}

.logo-container .site-name {
    margin-left: 10px; 
    font-size: 30px; 
    font-weight: bold; 
    color: white; 
}

.logo-container img { 
    display: block;
    height: 100px;
    width: auto;
    padding: 0;
    margin: 0;
}

#nav-bar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 60px; 
}

#nav-bar li a {
    color: white;
    text-decoration: none;
    padding: 10px -10px; 
    margin-top: 0;
    font-size: 17px;
    margin-right: 40px;
    margin-bottom: 50px;
}

#nav-bar li a:hover {
    background-color: #575757; /* Hover effect */
}

.promo-box {
    position: absolute; 
    top: 85%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    background: rgba(0, 0, 0, 0.5); 
    color: white; 
    padding: 20px; 
    text-align: center; 
    border-radius: 10px; 
    z-index: 2; 
}

.promo-box h2 {
    margin: 0 0 20px 0; 
    font-size: 1.5em; 
}

.btn {
    background-color: #e74c3c;
    color: white; 
    padding: 10px 20px; 
    text-decoration: none; 
    display: inline-block; 
    border: none; 
    cursor: pointer; 
    border-radius: 5px; 
}

.btn:hover {
    background-color: #c0392b; 
}

.footer {
    background-color: black; 
    text-align: center; 
    color: white;
    height: auto;
  }
  
  .footer-logos {
    display: flex; 
    justify-content: center; 
    align-items: center;
    gap: 200px;
  }
  
  .footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .footer-logo img {
    max-width: 50px;
    height: 50px;
  }
  
  .footer-logo a {
    margin-top: 15px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    display: inline-block;
  }

  .footer-logo a:hover {
    text-decoration: underline;
  }